:root {
  --color-primary: #ff6565;
  --color-dark-grey-1: #29303d;
  --color-text-dark: #071629;
  --color-text-light: #fff; }

* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem; }

.nav {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  width: 70%; }
  .nav .logo {
    margin-right: auto; }
  .nav .navbar {
    display: flex;
    align-items: center; }
    .nav .navbar__list {
      list-style: none; }
      .nav .navbar__list:not(:last-child) {
        margin-right: 4rem; }
      .nav .navbar__list-link:link {
        text-decoration: none; }
        .nav .navbar__list-link:link:hover {
          color: var(--color-primary);
          transition: all 0.2s; }
      .nav .navbar__list-link, .nav .navbar__list-link:visited {
        color: #fff; }

.hero {
  color: #fff; }
  .hero__heading {
    font-size: 3.2rem;
    letter-spacing: 0.29rem;
    font-weight: 700; }
  .hero__sub-heading {
    font-weight: 600;
    margin-bottom: 6rem; }
  .hero__btn {
    border: none;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 8rem;
    text-transform: uppercase;
    cursor: pointer; }
    .hero__btn:hover {
      filter: brightness(85%);
      transition: all 0.2s; }
  .hero__text {
    line-height: 2.65rem;
    max-width: 63rem;
    text-align: center; }

.about {
  color: var(--color-text-dark);
  padding: 8rem 0; }
  .about__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 4rem; }
  .about__text {
    max-width: 63.7rem;
    line-height: 2.65rem;
    text-align: center;
    margin-bottom: 10rem; }
  .about .icons {
    display: flex;
    max-width: 100rem;
    text-align: center; }
    .about .icons__part-icon {
      margin-bottom: 4rem; }
    .about .icons__part-heading {
      margin-bottom: 2.5rem; }
    .about .icons__part-text {
      line-height: 2.65rem; }

.results {
  background-image: url("../img/bg-image-2.png");
  background-size: cover;
  color: #fff;
  line-height: 2.65rem;
  padding-top: 18rem;
  padding-bottom: 10rem; }
  .results__heading {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 6rem; }
  .results__text {
    max-width: 63.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10rem; }
  .results .results-container {
    display: flex; }
    .results .results-container__icon {
      position: relative; }
      .results .results-container__icon:not(:last-child) {
        margin-right: 12rem; }
    .results .results-container__heading {
      font-size: 4.6rem;
      font-weight: 600; }
    .results .results-container__text {
      line-height: 4rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      top: 60%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%); }
    .results .results-container__polygon {
      width: 19rem;
      height: 19rem; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95rem;
  background-image: url("../img/bg-image-1.png");
  background-size: cover;
  background-position: center; }

.hero {
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 75.7rem; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center; }

.results {
  display: flex;
  flex-direction: column;
  align-items: center; }
