:root {
  --color-primary: #ff6565;

  --color-dark-grey-1: #29303d;

  --color-text-dark: #071629;
  --color-text-light: #fff;
}

$bp-xs: 27.43em; // 375px
$bp-md: 75em; // 768px
$bp-lg: 87.5em; // 1400px

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}
