/////////////////////////////
// Navar

.nav {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  //   justify-content: center;

  width: 70%;

  .logo {
    margin-right: auto;
  }

  .navbar {
    display: flex;
    align-items: center;

    &__list {
      list-style: none;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &-link:link {
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
          transition: all 0.2s;
        }
      }

      &-link,
      &-link:visited {
        color: #fff;
      }
    }
  }
}

.hero {
  color: #fff;

  &__heading {
    font-size: 3.2rem;
    letter-spacing: 0.29rem;
    font-weight: 700;
  }

  &__sub-heading {
    font-weight: 600;
    margin-bottom: 6rem;
  }

  &__btn {
    border: none;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: var(--color-primary);
    margin-bottom: 8rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      filter: brightness(85%);
      transition: all 0.2s;
    }
  }

  &__text {
    line-height: 2.65rem;
    max-width: 63rem;
    text-align: center;
  }
}

/////////////////////////////
// About

.about {
  color: var(--color-text-dark);
  padding: 8rem 0;

  &__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  &__text {
    max-width: 63.7rem;
    line-height: 2.65rem;
    text-align: center;
    margin-bottom: 10rem;
  }

  .icons {
    display: flex;
    max-width: 100rem;
    text-align: center;

    &__part {
    }

    &__part-icon {
      margin-bottom: 4rem;
    }

    &__part-heading {
      margin-bottom: 2.5rem;
    }

    &__part-text {
      line-height: 2.65rem;
    }
  }
}

/////////////////////////////
// Results

.results {
  background-image: url("../img/bg-image-2.png");
  background-size: cover;
  color: #fff;
  line-height: 2.65rem;
  padding-top: 18rem;
  padding-bottom: 10rem;

  &__heading {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 6rem;
  }

  &__text {
    max-width: 63.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10rem;
  }

  .results-container {
    display: flex;

    &__icon {
      position: relative;

      &:not(:last-child) {
        margin-right: 12rem;
      }
    }

    &__heading {
      font-size: 4.6rem;
      font-weight: 600;
    }

    &__text {
      line-height: 4rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      top: 60%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    &__polygon {
      width: 19rem;
      height: 19rem;
    }
  }
}
