/////////////////////////////
// Btn-primary

/////////////////////////////
// Btn-primary

.btn-primary {
  border: none;
  border-radius: 100px;
  padding: 1.5rem 3rem;
  color: #fff;
  background-color: var(--color-primary);
  margin-bottom: 8rem;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
    transition: all 0.2s;
  }
}

.header {
  .menu {
    border: none;
    border-radius: 0;

    left: 2rem;
    position: absolute;

    background-color: #fff;
    height: 2px;
    width: 2rem;
    margin-top: 4rem;
    transition: all 0.2s;
    cursor: pointer;

    &::before,
    &::after {
      background-color: #fff;
      height: 2px;
      width: 4.5rem;
      content: "";
      display: block;
    }
  }
}

/////////////////////////////
// Navar

.nav {
  display: flex;
  align-items: center;
  position: relative;
  margin: 3rem 0;
  //   justify-content: center;

  @media only screen and (max-width: $bp-xs) {
    flex-direction: column;
    align-items: center;
  }

  width: 70%;

  .logo {
    margin-right: auto;

    @media only screen and (max-width: $bp-xs) {
      margin-right: 0;
    }
  }

  .navbar {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-xs) {
      opacity: 0;
      visibility: hidden;
      margin-top: 4rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    &__list {
      list-style: none;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      @media only screen and (max-width: $bp-xs) {
        &:not(:last-child) {
          margin-right: 0rem;
        }
      }

      &-link:link {
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
          transition: all 0.2s;
        }
      }

      &-link,
      &-link:visited {
        color: #fff;
      }
    }
  }
}

.hero {
  color: #fff;

  &__heading {
    font-size: 3.2rem;
    letter-spacing: 0.29rem;
    font-weight: 700;
    text-align: center;

    @media only screen and (max-width: $bp-md) {
      max-width: 95%;
    }
  }

  &__sub-heading {
    font-weight: 600;
    margin-bottom: 6rem;

    @media only screen and (max-width: $bp-md) {
      max-width: 90%;
    }

    @media only screen and (max-width: $bp-xs) {
      text-align: center;
    }
  }

  &__btn {
  }

  &__text {
    line-height: 2.65rem;
    max-width: 63rem;
    text-align: center;

    @media only screen and (max-width: $bp-md) {
      max-width: 90%;
    }
  }
}

/////////////////////////////
// About

.about {
  color: var(--color-text-dark);
  padding: 8rem 0;

  @media only screen and (max-width: $bp-md) {
    padding-bottom: 14rem;
  }

  @media only screen and (max-width: $bp-xs) {
    padding-bottom: 60rem;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  &__text {
    max-width: 63.7rem;
    line-height: 2.65rem;
    text-align: center;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-md) {
      max-width: 90%;
    }
  }

  .icons {
    display: flex;
    max-width: 100rem;
    text-align: center;
    justify-content: center;
    height: 18rem;

    @media only screen and (max-width: $bp-md) {
      flex-wrap: wrap;
      flex: 0 0 27rem;
      max-width: 47.6rem;
      gap: 4rem;
      padding-bottom: 15rem;
    }

    .icons__part {
      @media only screen and (max-width: $bp-md) {
      }
    }

    &__part {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &__part-icon {
      height: 6.5rem;
      margin-bottom: 4rem;
    }

    &__part-heading {
      margin-bottom: 2.5rem;
    }

    &__part-text {
      line-height: 2.65rem;

      @media only screen and (max-width: $bp-md) {
        max-width: 20rem;
        font-size: 1.4rem;
      }
    }
  }
}

/////////////////////////////
// Results

.results {
  background-image: url("../img/bg-image-2.png");
  background-size: cover;
  color: #fff;
  line-height: 2.65rem;
  padding-top: 18rem;
  padding-bottom: 10rem;

  @media only screen and (max-width: $bp-xs) {
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 6rem;
    text-align: center;
    line-height: 1.3;
  }

  &__text {
    max-width: 63.7rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10rem;

    @media only screen and (max-width: $bp-md) {
      max-width: 90%;
    }
  }

  .results-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10rem;

    // max-width: 98rem;

    @media only screen and (max-width: $bp-md) {
      flex-wrap: wrap;
      column-count: 2;
    }

    &__icon {
      position: relative;
    }

    &__heading {
      font-size: 4.6rem;
      font-weight: 600;
    }

    &__text {
      line-height: 4rem;
      position: absolute;
      text-align: center;
      font-size: 1.4rem;
      top: 60%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    &__polygon {
      width: 19rem;
      height: 19rem;
    }
  }
}

/////////////////////////////
// Contact
.contact__container {
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.5rem;
  }

  &-heading {
    font-size: 3.2rem;
    font-weight: 500;
  }

  &-name {
    margin-bottom: 4rem;

    &-input {
      width: 100%;
    }
  }

  &-email {
    margin-bottom: 4rem;
  }

  &-message {
    margin-bottom: 4rem;
  }

  &-btn {
    margin-top: 4rem;
    margin-bottom: 0;
  }

  &-input {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-text-dark);
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid #979797;
    padding-bottom: 0.8rem;

    &::placeholder {
      color: var(--color-text-dark);
    }

    &:focus {
      outline: none;
    }
  }
}

/////////////////////////////
// Contact
.footer {
  padding: 4rem 0;
  color: #fff;
  font-weight: 100;

  &__container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-xs) {
      flex-direction: column;
      gap: 4rem;
      // justify-content: center;
    }
  }

  .logo {
  }

  &__icons {
    display: flex;
  }

  .icons__list {
    list-style: none;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
    }
  }
}
